name: Generate Sitemap

on:
  push:
    branches:
      - main  # الفرع الذي تستخدمه

jobs:
  build-sitemap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install sitemap generator
        run: npm install -g sitemap-generator-cli

      - name: Generate Sitemap
        run: |
          # توليد sitemap لجميع الصفحات بما فيها مجلد pages
          sitemap-generator https://aswaq-alsaudia.github.io --filepath ./sitemap.xml --changefreq weekly --priority 0.8 --ignore file-does-not-exist.txt

      - name: Commit and Push sitemap if changed
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add sitemap.xml
          # تحقق إذا كان هناك تغييرات
          if ! git diff --cached --quiet; then
            git commit -m "Update sitemap.xml"
            git push
          else
            echo "No changes in sitemap.xml, skipping commit."
          fi
